@model WebFM_Style.Models.ReceiptProduct

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>THÊM</h1>

<h4>Phiếu nhập hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductSizeColorId" class="control-label">Mã Sản phẩm Màu Size</label>
                <select asp-for="ProductSizeColorId" class="form-control" asp-items="ViewBag.ProductSizeColorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Số lượng</label>
                <input asp-for="Quantity" class="form-control" min="0" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Giá nhập</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                <a asp-action="Index" class="btn btn-light">Trở về</a>
            </div>
            @* <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div> *@
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
